
.html {
/*   display: flex;
  margin: auto; */

  background-color: #ffffff;
  min-width: 961px;
  max-width: 1920px; 
}

/*begin blok dlya soderjimogo*/
.container {
  width: 1530px;
  margin: 0 auto;
}
/*end blok dlya soderjimogo*/



header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  background-color: #0a0e34;
  color: #ffffff;
  font-size: 40px;
/*   background: url(../images/foot1.jpg); */
  border: 2px solid green;
}

.icon1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.surface_icon {
  width: 94px;
  height: 94px;
  margin: auto;
  fill: #ffffff;
}



.label_main {
/*   position: relative; */
/*   top: 200px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label_main h1 {
  font-size: 90px;
  margin: 0;
}

.label_main span {
  display: inline-block;
  font-size: 90px;
  font-weight: 900;
}



.store_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download_on_the_appstore {
  font-size: 24px;
  border-radius: 38px;
  background-color: rgb( 94, 66, 176 );
  box-shadow: 8px 13.856px 24px 0px rgb( 10, 14, 52 );
  position: relative;
/*   left: 621px;
  top: 773px; */
/*   width: 311px; */
/*   height: 77px; */
}


.athlets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-center: center;
  
  height: 100vh;
/*   background: url(../images/footballer.png) no-repeat left; */
  background-color: #ccc;
  font-size: 88px;
  color: #e7e7e7;
}


.l_athlets {
  background-color: #ccc;
  height: 33vh;
  border: 2px solid green;
}






.player {
  height: 960px;
/*   background: url(../images/player.png) no-repeat right; */
}

.rectongle_player {
  position: relative;
  border-radius: 2px;
  background-color: #000000;
  left: 323px;
  top: 20px;
  width: 22px;
  height: 5px;
  z-index: 68;
}

.rectangle_3_player {
  background-color: rgb( 10, 14, 52 );
  opacity: 0.039;
  position: relative;
  left: -5px;
  top: 2362px;
  width: 1925px;
  height: 244px;
  z-index: 51;
}

.rectangle_4_player {
  background-color: rgb( 10, 14, 52 );
  position: relative;
  left: -5px;
  top: 2609px;
  width: 1925px;
  height: 268px;
  z-index: 53;
}



.footer {
  width: 1920px;
  height: 960px;
  background-color: #0a0e34;
}

