
.html {
  padding: 0;
  margin: 0;
  display: flex;
  margin: auto;
  background-color: #ffffff;
  max-width: 1920px;
}

/*begin blok dlya soderjimogo*/
.container {
  width: 1530px;
  margin: 0 auto;
}
/*end blok dlya soderjimogo*/


header {
  height: 960px;
  background-color: #0a0e34;
  color: #ffffff;
  font-size: 90px;
  background: url(../images/foot1.jpg);
}

.surface_icon {
  width: 94px;
  height: 94px;
  margin: auto;
  fill: #ffffff;

}


.label {
  position: relative;
  top: 200px;
}

.buttons {
  position: relative;
  top: 425px;
}


.athlets {
  height: 960px;
  background: url(../images/footballer.png) no-repeat left;
  font-size: 88px;
  color: #e7e7e7;
}





.top {
  width: 1920px;
  height: 900px;

  background-color: #0a0e34;
  color: #ffffff;
}



.footer {
  width: 1920px;
  height: 960px;
  background-color: #0a0e34;
}
